apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ control_plane_ip }}
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
  kubeletExtraArgs:
    cgroup-driver: systemd
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ control_plane_ip }}:6443"
clusterName: {{ cluster_name }}
networking:
  podSubnet: {{ pod_subnet }}
  serviceSubnet: {{ service_subnet }}
# For single control-plane we don't set controlPlaneEndpoint
